
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_SERVER=
MONGODB_DB=

DATABASE_URL="mongodb+srv://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_SERVER}/${MONGODB_DB}"

GITHUB_ID=
GITHUB_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=